
body{
  background-color: #000435df;
  color: white;
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  margin:auto;
  margin-top:200px;
  max-width: 500px;
}

#timer-container{
  margin:auto;
  margin-top: -20px;
  width: 80%;
}

#length-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

#length-wrapper h2{
  color:darkorange;
}

button{
  background:transparent;
  border:none;
  color:white;
  font-size: large;
}

button:hover{
  cursor:pointer;
  color:darkorange;
}

#timer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0px;
  padding: 30px;
  border: 8px solid white;
  width:200px;
  margin:auto;
  margin-top: 40px;
  border-radius: 30px;
}





h2{
  margin: 10px;
}



